<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PorfolioWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PorfolioWeb.styles.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="~/css/normalize.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="container  navbar2">
                @*<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PorfolioWeb</a>*@
            <div class="navbar__logoContainer">
                <svg class="navbar__logo" width="130" height="100" viewBox="0 0 41 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="logo_text" d="M13.4004 9.75H9.52148C9.49023 9.75 9.47461 9.73047 9.47461 9.69141L9.48633 1.45898C9.48633 1.41992 9.50586 1.40039 9.54492 1.40039H10.8809C10.9199 1.40039 10.9395 1.41992 10.9395 1.45898L10.9277 8.27344H13.4004C13.4395 8.27344 13.459 8.29297 13.459 8.33203V9.69141C13.459 9.73047 13.4395 9.75 13.4004 9.75Z" fill="black" />
                    <path class="logo_text" d="M13.8398 9.69141L15.3281 1.44727C15.3359 1.41602 15.3555 1.40039 15.3867 1.40039H17.127C17.1582 1.40039 17.1777 1.41602 17.1855 1.44727L18.6152 9.69141C18.6191 9.73047 18.6035 9.75 18.5684 9.75H17.2383C17.1992 9.75 17.1777 9.73047 17.1738 9.69141L17.0449 8.8125H15.4102L15.2812 9.69141C15.2773 9.73047 15.2578 9.75 15.2227 9.75H13.8867C13.8555 9.75 13.8398 9.73047 13.8398 9.69141ZM16.1895 4.16016L15.6504 7.5293H16.8047L16.3125 4.16016L16.2422 3.71484L16.1895 4.16016Z" fill="black" />
                    <path class="logo_text" d="M20.6719 9.75H19.4707C19.4082 9.75 19.377 9.72266 19.377 9.66797L19.3652 1.49414C19.3652 1.43164 19.3965 1.40039 19.459 1.40039H20.543L22.5703 6.12891L22.5117 1.49414C22.5117 1.43164 22.5469 1.40039 22.6172 1.40039H23.8066C23.8535 1.40039 23.877 1.43164 23.877 1.49414L23.8887 9.67969C23.8887 9.72656 23.8691 9.75 23.8301 9.75H22.7754L20.6953 5.33203L20.7832 9.65625C20.7832 9.71875 20.7461 9.75 20.6719 9.75Z" fill="black" />
                    <path class="logo_text" d="M27.1523 9.86719C26.7266 9.86719 26.334 9.75781 25.9746 9.53906C25.6191 9.32031 25.332 9.0293 25.1133 8.66602C24.8984 8.29883 24.791 7.89648 24.791 7.45898L24.8027 3.65625C24.8027 3.21094 24.9102 2.81055 25.125 2.45508C25.3359 2.0957 25.6211 1.80859 25.9805 1.59375C26.3398 1.375 26.7305 1.26562 27.1523 1.26562C27.5898 1.26562 27.9824 1.37305 28.3301 1.58789C28.6816 1.80273 28.9629 2.0918 29.1738 2.45508C29.3887 2.81445 29.4961 3.21484 29.4961 3.65625L29.5078 7.45898C29.5078 7.89648 29.4023 8.29688 29.1914 8.66016C28.9766 9.02734 28.6914 9.32031 28.3359 9.53906C27.9805 9.75781 27.5859 9.86719 27.1523 9.86719ZM27.1523 8.41992C27.3945 8.41992 27.6055 8.32227 27.7852 8.12695C27.9648 7.92773 28.0547 7.70508 28.0547 7.45898L28.043 3.65625C28.043 3.39062 27.959 3.16602 27.791 2.98242C27.623 2.79883 27.4102 2.70703 27.1523 2.70703C26.9062 2.70703 26.6953 2.79688 26.5195 2.97656C26.3438 3.15625 26.2559 3.38281 26.2559 3.65625V7.45898C26.2559 7.7207 26.3438 7.94727 26.5195 8.13867C26.6953 8.32617 26.9062 8.41992 27.1523 8.41992Z" fill="black" />
                    <path class="logo_text" d="M32.625 9.86719C32.1914 9.86719 31.7949 9.75781 31.4355 9.53906C31.0801 9.32031 30.7969 9.02734 30.5859 8.66016C30.3789 8.28906 30.2754 7.87695 30.2754 7.42383L30.2871 3.67969C30.2871 3.23438 30.3887 2.83203 30.5918 2.47266C30.7949 2.10938 31.0742 1.81836 31.4297 1.59961C31.7891 1.37695 32.1875 1.26562 32.625 1.26562C33.0703 1.26562 33.4668 1.37305 33.8145 1.58789C34.166 1.80273 34.4453 2.09375 34.6523 2.46094C34.8633 2.82422 34.9688 3.23047 34.9688 3.67969V4.23047C34.9688 4.26172 34.9531 4.27734 34.9219 4.27734H33.5742C33.543 4.27734 33.5273 4.26172 33.5273 4.23047V3.67969C33.5273 3.41406 33.4414 3.18555 33.2695 2.99414C33.0977 2.80273 32.8828 2.70703 32.625 2.70703C32.3398 2.70703 32.1211 2.80469 31.9688 3C31.8164 3.19531 31.7402 3.42188 31.7402 3.67969V7.42383C31.7402 7.7168 31.8262 7.95703 31.998 8.14453C32.1699 8.32812 32.3789 8.41992 32.625 8.41992C32.8828 8.41992 33.0977 8.31836 33.2695 8.11523C33.4414 7.9082 33.5273 7.67773 33.5273 7.42383V6.86719C33.5273 6.83594 33.543 6.82031 33.5742 6.82031H34.9336C34.9648 6.82031 34.9805 6.83594 34.9805 6.86719V7.42383C34.9805 7.87305 34.875 8.2832 34.6641 8.6543C34.4492 9.02148 34.166 9.31641 33.8145 9.53906C33.4629 9.75781 33.0664 9.86719 32.625 9.86719Z" fill="black" />
                    <path class="logo_text" d="M35.4492 9.69141L36.9375 1.44727C36.9453 1.41602 36.9648 1.40039 36.9961 1.40039H38.7363C38.7676 1.40039 38.7871 1.41602 38.7949 1.44727L40.2246 9.69141C40.2285 9.73047 40.2129 9.75 40.1777 9.75H38.8477C38.8086 9.75 38.7871 9.73047 38.7832 9.69141L38.6543 8.8125H37.0195L36.8906 9.69141C36.8867 9.73047 36.8672 9.75 36.832 9.75H35.4961C35.4648 9.75 35.4492 9.73047 35.4492 9.69141ZM37.7988 4.16016L37.2598 7.5293H38.4141L37.9219 4.16016L37.8516 3.71484L37.7988 4.16016Z" fill="black" />
                    <path class="logo_j" fill-rule="evenodd" clip-rule="evenodd" d="M3.25 0H4.75V7.2C4.75 7.58284 4.6694 8.16362 4.3951 8.67794C4.10411 9.22356 3.55165 9.75 2.66668 9.75H0V8.25H2.66668C2.84837 8.25 2.96257 8.17644 3.07157 7.97206C3.19726 7.73638 3.25 7.41716 3.25 7.2V0Z" fill="#D83E23" />
                    <path class="logo_text" fill-rule="evenodd" clip-rule="evenodd" d="M6.8 1.5H5V0H6.8C7.12002 0 7.58335 0.0898357 7.98823 0.381349C8.43135 0.700397 8.75 1.22556 8.75 1.95V9.75H7.25V6.3H5V4.8H7.25V1.95C7.25 1.81707 7.22314 1.7419 7.20222 1.70135C7.18099 1.66019 7.15178 1.62745 7.11177 1.59865C7.01665 1.53016 6.87998 1.5 6.8 1.5Z" fill="black" />
                </svg>
            </div>
            <div class="navbar__links">
                <ul class="navbar__listaContainer">
                    <li class="navbar__item">
                        <a class="navbar__link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="navbar__item">
                    <a class="navbar__link" asp-area="Admin" asp-controller="Skill" asp-action="Index">Skills</a>
                    </li>
                    <li class="navbar__item">
                        <a class="navbar__link" asp-area="Cliente" asp-controller="About" asp-action="Index">Acerca de</a>
                    </li>
                    <partial name="_LoginPartial" />
                </ul>
            </div>
        </nav>
    </header>

    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
