<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PorfolioWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PorfolioWeb.styles.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="~/css/normalize.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>
<body>
    <header class="headerContainer">
        <nav class="container navbar2">
                @*<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PorfolioWeb</a>*@
            <div class="navbar__logoContainer">
                <svg  class="navbar__logo" width="180" height="69" fill="none" viewBox="10 0 180 69">
                    <path class="logo__letra"
                          stroke="#000"
                          d="M15.912 49.608V27.421h10.89v22.187c0 4.527-1.145 7.89-2.836 10.395-1.694 2.508-3.956 4.188-6.234 5.313-2.28 1.125-4.567 1.69-6.287 1.974-.86.141-1.574.212-2.073.247a15.365 15.365 0 0 1-.722.034H.859a.432.432 0 0 1-.359-.215v-10.16c0-.018.008-.06.07-.11a.465.465 0 0 1 .29-.092h7.744c1.79 0 3.167-.455 4.215-1.162 1.045-.704 1.735-1.64 2.19-2.56.453-.917.678-1.829.79-2.507a9.013 9.013 0 0 0 .11-1.063c.002-.028.002-.05.002-.066V49.609h-.5.5Zm10.89-33.906H5.24a.416.416 0 0 1-.294-.1.2.2 0 0 1-.066-.103V6.192c0-.002.001-.014.01-.034a.25.25 0 0 1 .057-.075.413.413 0 0 1 .293-.1h21.28c.145 0 .204.047.23.075.034.037.052.09.052.134v9.51ZM77.374 67.315l.008.022.01.02c.019.036.018.057.017.066a.097.097 0 0 1-.022.049c-.034.043-.117.1-.25.1H66.34a.428.428 0 0 1-.162-.051.18.18 0 0 1-.058-.046l-.004-.016-.008-.023-12.359-34.89-.474-1.34-.47 1.341-12.208 34.89-.007.023-.004.014a.185.185 0 0 1-.055.04.551.551 0 0 1-.243.058H29.57c-.248 0-.332-.081-.347-.1a.044.044 0 0 1-.01-.027c-.002-.01 0-.04.023-.087l.01-.021.01-.022L52.956 6.138l.003-.007c.02-.052.11-.147.315-.147.206 0 .296.095.315.147l.003.007 23.781 61.177Zm-36.785.156-.002.001.002-.001ZM112.62 25.043l-.002-.001c-.802-.646-1.403-1.683-1.756-3.173l2.812-.415c.176.775.463 1.411.885 1.876l.004.005c.541.58 1.279.846 2.137.846.884 0 1.624-.304 2.128-.969.476-.63.685-1.492.685-2.51V10.619h-3.646v-2h6.458v12c0 1.808-.511 3.15-1.476 4.102-.954.94-2.322 1.44-4.191 1.44-1.827 0-3.15-.395-4.038-1.118ZM144.939 25.075c-1.321.72-2.872 1.085-4.678 1.085-2.772 0-4.891-.805-6.411-2.368-1.514-1.577-2.297-3.758-2.297-6.61 0-2.833.784-4.98 2.293-6.503 1.519-1.535 3.645-2.331 6.436-2.331 2.802 0 4.925.801 6.434 2.349l.002.002c1.522 1.542 2.314 3.68 2.314 6.482 0 1.84-.361 3.43-1.069 4.79-.705 1.362-1.712 2.392-3.024 3.104Zm-9.017-12.864-.003.003c-1.031 1.233-1.512 2.909-1.512 4.967 0 2.092.498 3.802 1.553 5.07 1.064 1.283 2.514 1.91 4.301 1.91 1.83 0 3.3-.61 4.344-1.87 1.026-1.245 1.51-2.967 1.51-5.11 0-2.045-.487-3.713-1.511-4.944-1.043-1.258-2.507-1.868-4.322-1.868-1.827 0-3.306.602-4.36 1.842ZM170.465 18.744V8.619h2.417V25.91h-3.709l-7.835-13.83-.932.307c.166 1.356.247 2.427.247 3.232V25.91h-2.417V8.62h3.584l7.94 13.955.931-.307a29.772 29.772 0 0 1-.226-3.523ZM191.985 8.619l6.283 17.291h-2.723l-1.508-4.33-.117-.336H186.229l-.116.337-1.489 4.33h-2.762l6.302-17.292h3.821Zm-1.445 2.157-.575-1.766-.389 1.816-.058.268c-.078.242-.162.513-.254.81l-.073.232-.004.014c-.109.389-.837 2.556-2.2 6.536l-.226.662h6.651l-.229-.663-1.81-5.242-.539-1.762-.002-.009-.292-.896ZM215.039 10.577h-.5V25.91h-2.833V10.577h-5.917V8.619h14.667v1.958h-5.417ZM240.637 15.41V8.62h2.834V25.91h-2.834v-7.833h-8.979v7.833h-2.833V8.62h2.833v7.291h8.979v-.5ZM262.574 8.619l6.282 17.291h-2.722l-1.509-4.33-.116-.336h-7.692l-.116.337-1.488 4.33h-2.762l6.302-17.292h3.821Zm-1.445 2.157-.575-1.766-.39 1.816-.057.268c-.078.242-.162.513-.255.81l-.072.232-.004.014c-.11.389-.837 2.556-2.2 6.536l-.227.662h6.652l-.229-.663-1.81-5.242-.539-1.762-.003-.009-.291-.896ZM290.086 18.744V8.619h2.417V25.91h-3.709l-7.836-13.83-.931.307c.166 1.356.246 2.427.246 3.232V25.91h-2.416V8.62h3.584l7.939 13.955.932-.307a29.56 29.56 0 0 1-.226-3.523ZM118.503 45.517l6.283 17.291h-2.723l-1.508-4.33-.117-.336h-7.691l-.116.337-1.488 4.33h-2.762l6.302-17.292h3.82Zm-1.445 2.157-.575-1.766-.389 1.816-.057.268c-.078.242-.162.513-.255.81l-.072.233-.004.013c-.11.389-.837 2.556-2.2 6.536l-.227.662h6.651l-.229-.663-1.809-5.242-.539-1.762-.003-.009-.292-.895ZM137.12 60.85h9.312v1.959h-12.646V45.517h2.834V60.85h.5ZM164.576 45.517l6.283 17.291h-2.723l-1.508-4.33-.117-.336h-7.692l-.116.337-1.488 4.33h-2.762l6.302-17.292h3.821Zm-1.445 2.157-.575-1.766-.389 1.816-.058.268c-.078.242-.162.513-.254.81l-.073.233-.004.013c-.109.389-.837 2.556-2.2 6.536l-.226.662h6.651l-.229-.663-1.81-5.242-.539-1.762-.002-.009-.292-.895ZM192.088 55.642V45.517h2.417v17.291h-3.709l-7.835-13.83-.932.308c.166 1.355.247 2.426.247 3.23V62.81h-2.417V45.517h3.584l7.94 13.955.931-.306a29.769 29.769 0 0 1-.226-3.524ZM217.074 61.973h-.001c-1.321.72-2.871 1.086-4.677 1.086-2.773 0-4.891-.805-6.411-2.369-1.514-1.577-2.297-3.758-2.297-6.61 0-2.833.783-4.98 2.292-6.503 1.52-1.534 3.645-2.331 6.437-2.331 2.801 0 4.925.802 6.433 2.349l.003.002c1.522 1.542 2.314 3.68 2.314 6.482 0 1.84-.362 3.43-1.069 4.79v.001c-.705 1.361-1.713 2.391-3.024 3.103Zm-9.017-12.863-.003.003c-1.031 1.233-1.512 2.908-1.512 4.966 0 2.092.497 3.802 1.552 5.07 1.065 1.283 2.515 1.91 4.302 1.91 1.829 0 3.3-.61 4.343-1.869l.001-.001c1.026-1.245 1.51-2.967 1.51-5.11 0-2.044-.487-3.713-1.511-4.944-1.043-1.258-2.507-1.868-4.322-1.868-1.828 0-3.306.602-4.36 1.843ZM241.647 60.095c.784-.566 1.398-1.368 1.854-2.38l2.408.898c-.677 1.443-1.602 2.51-2.76 3.229h-.001c-1.296.806-2.867 1.217-4.736 1.217-2.852 0-4.983-.794-6.473-2.327-1.485-1.548-2.256-3.742-2.256-6.653 0-2.915.748-5.077 2.174-6.57 1.43-1.483 3.533-2.263 6.389-2.263 2.087 0 3.735.42 4.98 1.213 1.105.71 1.925 1.712 2.45 3.033l-2.409.669a4.333 4.333 0 0 0-1.709-2.002c-.925-.601-2.012-.892-3.229-.892-1.848 0-3.322.575-4.34 1.781l-.003.004c-.994 1.197-1.449 2.898-1.449 5.027 0 2.164.472 3.9 1.49 5.131l.001.002c1.042 1.252 2.53 1.846 4.384 1.846 1.246 0 2.333-.312 3.235-.963ZM264.12 45.517l6.282 17.291h-2.722l-1.508-4.33-.117-.336h-7.692l-.116.337-1.488 4.33h-2.762l6.302-17.292h3.821Zm-1.445 2.157-.575-1.766-.39 1.816-.057.268c-.078.242-.162.513-.254.81l-.073.233-.004.013c-.109.389-.837 2.556-2.2 6.536l-.227.662h6.652l-.229-.663-1.81-5.242-.539-1.762-.003-.009-.291-.895Z" />
                    <path stroke="#000"
                          stroke-width="4"
                          d="M297 2.454c4.167-1 12.5-1 12.5 7v12.5c.333 4.334 2.7 12.6 9.5 11-3.167 0-9.5 2.3-9.5 11.5v10c.667 4.167-.9 11.9-12.5 9.5M103 63.952c-4.167 1-12.5 1-12.5-7v-12.5c-.333-4.333-2.7-12.6-9.5-11 3.167 0 9.5-2.3 9.5-11.5v-10c-.667-4.166.9-11.9 12.5-9.5" />
                </svg>
            </div>
            <div class="navbar__links">
                <ul class="navbar__listaContainer">
                    <li class="navbar__item">
                        <a class="navbar__link selected" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="navbar__item">
                    <a class="navbar__link" asp-area="Admin" asp-controller="Skill" asp-action="Index">Skills</a>
                    </li>
                    <li class="navbar__item">
                        <a class="navbar__link" asp-area="Cliente" asp-controller="About" asp-action="Index">Acerca de</a>
                    </li>
                    <li class="navbar__item">
                        <a class="navbar__link" asp-area="Cliente" asp-controller="Work" asp-action="Index">Proyectos</a>
                    </li>
                    <li class="navbar__item">
                        <a class="navbar__link" asp-area="Cliente" asp-controller="Contact" asp-action="Index">Contacto</a>
                    </li>
                    <partial name="_LoginPartial" />
                </ul>
            </div>
        </nav>
    </header>

    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
